<ion-view view-title="Home">
  <ion-content padding="false" style="background: url(img/blue.png) no-repeat center;background-size:cover;" class="has-header">


<div class="banner">

</div>
        <div class = "row" style="color:white">
           <div class = "col">
              <a ui-sref="app.newreport" class="tab-item" menu-close >
                <i  style="color:white;"  class="icon ion-android-folder"></i> New Report
            </a>

          </div>

           <div class = "col">
             <a ui-sref="app.myreport" class="tab-item" menu-close  >
                 <i   style="color:white;"  class="icon ion-android-calendar"></i> My Cases
             </a>

           </div>
           <div class = "col" >

             <a ui-sref="app.logout" class="tab-item" menu-close >
                 <i  style="color:white;"  class="icon ion-log-out"></i> Log out
             </a>

           </div>
         </div>

    </ion-content>
</ion-view>
